@model TP_Pizzas.Models.PizzaVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pizza</h4>
    <hr />
    @Html.HiddenFor(model => model.Pizza.Id)
    @Html.Partial("PizzaPropDisplay", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pizza.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
